{% extends 'base.html.twig' %}

{% block title %}Hello BilansPeriodiquesController!{% endblock %}

{% block body %}



    <!-- STEPS =============================-->
    <div class="item content">
        <div class="container toparea">
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="col editContent">
                        <span class="numberstep"><i class="fa fa-laptop"></i></span>
                        <h3 class="numbertext"><a href="{{ path('debutstage') }}"> Bilan Debut de Stage</a></h3>
                        <p>
                            Veuillez remplir ce bilan avant la fin de la 6eme semaine de votre periode de stage
                        </p>
                    </div>
                    <!-- /.col-md-4 -->
                </div>
                <!-- /.col-md-4 col -->
                <div class="col-md-4 editContent">
                    <div class="col">
                        <span class="numberstep"><i class="fa fa-laptop"></i></span>
                        <h3 class="numbertext"><a href="{{ path('milieustage') }}">Bilan de Milieu de Stage</a></h3>
                        <p>
                            Veuillez remplir ce bilan avant la fin de la 14eme semaine de votre periode de stage
                        </p>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.col-md-4 col -->
                <div class="col-md-4 editContent">
                    <div class="col">
                        <span class="numberstep"><i class="fa fa-laptop"></i></span>
                        <h3 class="numbertext"><a href="{{ path('finstage') }}">Bilan de Fin de Stage</a></h3>
                        <p>Veuillez remplir ce bilan avant la fin de la 23eme semaine de votre periode de stage</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
