<form method="post" action="{{ path('rapport_crud_delete', {'id': rapport_final.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rapport_final.id) }}">
    <button class="btn">Delete</button>
</form>
