{% extends 'baseback.html.twig' %}

{% block title %}Soutenance index{% endblock %}

{% block body %}
    <h1>Soutenance index</h1>

    <table class="table">
        <form class="w-search">
            <div class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" id="search" class="form-control"  placeholder="Search">

                </div>
            </div>
            <ul class="nav" id="side-menu">
                <li>
                    <a href="#"> <span class="fa arrow"></span></a>
                    <ul style="background-color: #0b0b0b" class="nav "  id="entitiesNav">
                    </ul>
                </li>
            </ul>
        </form>



        <thead>
        <tr>

            <th>Id</th>
            <th>President</th>
            <th>Etudiant</th>
            <th>Encadrant</th>
            <th>Date_soutenance</th>
            <th>Salle</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody id="all">
        {% include 'soutenance_back/president.html.twig'  %}
        </tbody>
        <tbody id="search"> </tbody>
        <a href="{{ path('soutenance_crud_new') }}">Create new</a>
    </table>





    <script src="{{ asset('assets/js/jquery.min.js') }}" ></script>

    <script
            src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js') }}">

    </script>


    <script>
        $( document).ready(function () {
            var currentRequest=null;
            $("#search").keyup(function (e){
                var value =$(this).val();

                if(currentRequest != null){
                    currentRequest.abort();
                }

                currentRequest= $.ajax({
                    url:"{{ path('recherchepre') }}",
                    type :'GET',
                    data:{
                        'searchValue':value
                    },

                    success : function (retour){
                        $('#all').html(retour);
                    },

                })
                return false;
            });
        });
    </script>
{% endblock %}
