{% extends 'base.html.twig' %}

{% block title %}Debut de Stage{% endblock %}

{% block body %}
    <header class="item header margin-top-0">
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="text-homeimage">
                            <div class="maintext-image" data-scrollreveal="enter top over 1.5s after 0.1s">
                            </div>
                            <div class="subtext-image" data-scrollreveal="enter bottom over 1.7s after 0.3s">
                                Bilan periodique de debut de stage
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- STEPS =============================-->
    <div class="item content">
        <div class="container toparea">
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="col editContent">
                        <span class="numberstep"><i class="fa fa-eye"></i></span>
                        <h3 class="numbertext"><a href="{{ path('afficher_debut') }}">Afficher</a></h3>
                        <p>
                            Jeter un coup d'oeil sur les questions !
                        </p>
                    </div>
                    <!-- /.col-md-4 -->
                </div>
                <!-- /.col-md-4 col -->
                <div class="col-md-4 editContent">
                    <div class="col">
                        <span class="numberstep"><i class="fa fa-calendar"></i></span>
                        <h3 class="numbertext"><a href="{{ path('bilan_debut') }}"> Remplir</a></h3>
                        <p>
                            N'oubliez pas le DEADLINE!
                        </p>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.col-md-4 col -->
                <div class="col-md-4 editContent">
                    <div class="col">
                        <span class="numberstep"><i class="fa fa-pencil"></i></span>
                        <h3 class="numbertext"><a href="{{ path('modifier_debut') }}"> Modifier</a></h3>
                        <p>Vous pouvez modifier vos reponses !</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
