{% extends 'baseback.html.twig' %}

{% block title %}Bilans des etudiants{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 font-weight-bold">Liste des etudiants </p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-md-right dataTables_filter" id="dataTable_filter"><label>
                                <input type="search" class="form-control form-control-sm" aria-controls="dataTable"
                                       placeholder="Search"></label>
                        </div>
                    </div>
                </div>
                <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                    <table class="table my-0" id="dataTable">
                        <thead>
                        <tr>
                            <th>Etudiant</th>
                            <th>Debut de Stage</th>
                            <th>Milieu de Stage</th>
                            <th>Fin de Stage</th>
                        </tr>
                        </thead>
                        {% set rep = false %}
                        {% set rep1 = false %}
                        {% set rep2 = false %}

                        {% for user in users %}
                            {% for reponse in reponses %}
                                {% if reponse.repsEtud.id == user.id  and reponse.IndexPeriode == 1 %}
                                    {% set rep = true %}

                                {% endif %}

                                {% if reponse.repsEtud.id == user.id  and reponse.IndexPeriode == 2 %}
                                    {% set rep1 = true %}

                                {% endif %}
                                {% if reponse.repsEtud.id == user.id  and reponse.IndexPeriode == 3 %}
                                    {% set rep2 = true %}

                                {% endif %}
                            {% endfor %}

                            <tbody>
                        <tr>
                            <td>{{ user.getUserName }}</td>
                            {% if rep == true %}

                            <td><a href="{{ path('visualisation_bilan_show') }}" class="badge badge-success">Rempli</a></td>

                            {% else %}
                                <td><span class="badge badge-danger">Non Rempli</span></td>
                            {% endif %}

                            {% if rep1 == true %}
                                <td><a href="{{ path('visualisation_bilan_show_middle') }}" class="badge badge-success">Rempli</a></td>
                            {% else %}
                                <td><span class="badge badge-danger">Non Rempli</span></td>
                            {% endif %}

                            {% if rep2 == true %}
                            <td><a href="{{ path('visualisation_bilan_show_end') }}" class="badge badge-success">Rempli </a></td>
                            {% else %}
                            <td><span class="badge badge-danger">Non Rempli </span></td>
                            {% endif %}
                        </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
                <div class="row">

                    <div class="col-md-6">

                    </div>
                </div>
            </div>
        </div>
    </div>

        {% for user in users %}

        {% endfor %}

{% endblock %}
