{% extends 'baseback.html.twig' %}

{% block title %}Edit Soutenance{% endblock %}

{% block body %}
    <h1>Edit Soutenance</h1>

    {{ include('soutenance_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('soutenance_crud_index') }}">back to list</a>

    {{ include('soutenance_crud/_delete_form.html.twig') }}
{% endblock %}
