{% extends 'baseback.html.twig' %}

{% block title %}Plan de Travail {% endblock %}

{% block body %}
    <h1>Plan de travail </h1>

    <table class="table">
        <thead>
        <tr>
            <th>nom etudiant</th>
            <th>Backlog</th>
            <th>Sprints</th>
            <th>Validation</th>

        </tr>
        </thead>
        <tbody>
        {% for plan_travail in plan_travails %}
            <tr>
                <td>{{ plan_travail.etudiantpp.username }}</td>
                <td>{{ plan_travail.backlog }}</td>
                <td>{{ plan_travail.sprints }}</td>
                <td>{{ plan_travail.validation }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
