{% extends 'base.html.twig' %}

{% block title %} Journal de stage{% endblock %}

{% block body %}
    <h1> Journal de projet</h1>

    {{ include('journal_projet/_form.html.twig') }}

    <a href="{{ path('journal_projet_index') }}">back to list</a>
{% endblock %}
