{% extends 'base.html.twig' %}

{% block title %}Hello SoutenancesController!{% endblock %}

{% block body %}
    <div class="item header margin-top-0">
        <div class="wrapper">

            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="text-homeimage">
                            <div class="maintext-image" data-scrollreveal="enter top over 1.5s after 0.1s">
                               Gestion du rapport final
                            </div>
                            <div class="subtext-image" data-scrollreveal="enter bottom over 1.7s after 0.3s">
                                et du plagiat
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
