{% extends 'baseback.html.twig' %}

{% block title %}Compte Rendu {% endblock %}

{% block body %}
    <h1>Compte Rendu </h1>

    <table class="table">
        <thead>
        <tr>
            <th>nom etudiant</th>
            <th>Fichier</th>

            <th>Commentaire</th>
            <th>validation</th>
            <th>actions</th>


        </tr>
        </thead>
        <tbody>
        {% for compte_rendu in compte_rendus %}
            <tr>
                <td>{{ compte_rendu.etudiantcr.username }}</td>
                <td>{{ compte_rendu.fichier }}</td>

                <td>{{ compte_rendu.commentairetud }}</td>
                <td>{{ compte_rendu.validationcr }}</td>


                <td>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
