{% extends 'base.html.twig' %}

{% block title %}Nouveau RendezVous{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau RendezVous</h1>
    {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
    {{form_start(form)}}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <a href="{{ path('rendez_vous_c_r_u_d_index') }}">back to list</a>
{% endblock %}
